:root {
  --clr-neutral-100: 0 0% 100%;
  --clr-background: 210 46% 95%;
  --clr-secondary-400: 217 19% 35%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background: hsl(var(--clr-background));
  padding: 0 12rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

textarea {
  width: 100%;
  resize: none;
}

.card h2 {
  padding-bottom: 10px;
}

/* Login */

.login-greeting {
  margin: 0 auto;
  text-align: center;
}

.btn {
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #616263;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 10;
}

/* options-page */
.input_text {
  width: 500px;
  height: 200px;
  margin-right: 2px;
  border-radius: 3px;
  border: 1px solid green;
}

.options-btn {
  background: none;
  color: white;
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  background-color: black;
  font-size: 16px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
/* options page ends */

/*stakeholders page*/
.stakeholders-btn {
  background: none;
  color: white;
  border: none;
  width: 300px;
  height: 35px;
  border-radius: 3px;
  background-color: black;
  font-size: 16px;
  text-align: center;
}

.btns {
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 400px) {
  .stakeholders-btn {
    margin-top: 10px;
  }
}
/*stakeholders page ends*/

/* Utilitarianism page*/
textarea[name="util_option1"] {
  font-size: 200%;
}
textarea[name="util_option2"] {
  font-size: 200%;
}
/* end of utilitariansim */

/* Media */

@media only screen and (max-width: 1200px) {
  body {
    padding: 0 5rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
}
