:root {
  --clr-neutral-100: 0 0% 100%;
  --clr-background: 210 46% 95%;
  --clr-secondary-400: 217 19% 35%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  padding-top: 7rem;
  background: hsl(var(--clr-background));
}

textarea {
  width: 100%;
}

.card h2 {
  padding-bottom: 10px;
}
